@model EFCodeFirst.Models.Product
@using EFCodeFirst.HtmlHelpers

@{
    ViewBag.Title = "Create";
}

<h2 class="mt-3">Create</h2>

@using (Html.BeginForm("Create", "Products", new {area = "Admin"},FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mt-4">
        <h4>Product</h4>
        <hr />

        <div class="mb-3 row">
            @* <label for="ProductName" class="col-sm-2 col-form-label">Product Name</label>*@
            @Html.LabelFor(row => row.ProductName, new { @class = "col-sm-2 col-form-label" })

            <div class="col-sm-10">
                @Html.TextBoxFor(row => row.ProductName, new { @class = "form-control", placeholder = "Product name" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(row => row.ProductName)
                </span>

                @*<input type="text" id="ProductName" name="ProductName" class="form-control" placeholder="Product name" />
                    <span class="text-danger">@Html.ValidationMessage(row => row.ProductName)</span>*@
            </div>
        </div>

        @*@Html.InputHelp("col-sm-10", "Price", "Price")*@
        <div class="mb-3 row">
            <label for="Price" class="col-sm-2 col-form-label">Price</label>

            <div class="col-sm-10">
                @*<input type="number" id="Price" name="Price" class="form-control" value="@Model?.Price" placeholder="Price" />*@
                @Html.TextBoxFor(row => row.Price, new { @class = "form-control", placeholder = "Price" })
                <span class="text-danger">@Html.ValidationMessageFor(row => row.Price)</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="DateOfPurchase" class="col-sm-2 col-form-label">Date of Purchase</label>
            <div class="col-sm-10">
                <input type="date" id="DateOfPurchase" name="DateOfPurchase" class="form-control"
                       value="@(Model?.DateOfPurchase.HasValue == true ? Model.DateOfPurchase.Value.ToString("yyyy-MM-dd") : "")" />
                <span class="text-danger">@Html.ValidationMessageFor(row => row.DateOfPurchase)</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="AvailabilityStatus" class="col-sm-2 col-form-label">Availability Status</label>
            <div class="col-sm-10">
                <select class="form-select" name="AvailabilityStatus" id="AvailabilityStatus">
                    <option value="">Please Select...</option>
                    <option value="InStock">InStock</option>
                    <option value="OutStock">OutStock</option>
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(row => row.AvailabilityStatus)</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="CategoryID" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                @*<select id="CategoryID" name="CategoryID" class="form-select">
                    <option value="">Please Select...</option>
                    @foreach (var category in ViewBag.Categories as SelectList)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>*@
                @Html.DropDownListFor(row => row.CategoryID, (SelectList)ViewBag.Categories, "Please Select...", new { @class = "form-select" })

                <span class="text-danger">@Html.ValidationMessageFor(row => row.CategoryID)</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="BrandID" class="col-sm-2 col-form-label">Brand</label>
            <div class="col-sm-10">
                @*<select id="BrandID" name="BrandID" class="form-select">
                    <option value="">Please Select...</option>
                    @foreach (var brand in ViewBag.Brands as SelectList)
                    {
                        <option value="@brand.Value">@brand.Text</option>
                    }
                </select>*@
                @Html.DropDownListFor(row => row.BrandID, (SelectList)ViewBag.Brands, "Please Select...", new { @class = "form-select" })

                <span class="text-danger">@Html.ValidationMessageFor(row => row.BrandID)</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="Active">Active</label>
            <div class="col-sm-10 d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="Active" name="Active" value="true" @(Model?.Active == true ? "checked" : "") />
                </div>
                <span class="text-danger ms-3">@Html.ValidationMessage("Active")</span>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Create</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Back to List</a>
            </div>
        </div>
    </div>

    @Html.ValidationSummary()
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
